* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

h1 {
  color: white;
  font-size: 90px;
  text-shadow: 2px 2px 4px #000000;
}

h1, .firma {
  text-align: center;
}

main {
  width: 80%;
  margin: auto;
}

.fila{
  margin-bottom: 30px;
}

.carta{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
