* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header{
  margin-bottom: 30px;
}
h1 {
  color: white;
  font-size: 90px;
  text-shadow: 2px 2px 4px #000000;
}

h1, .firma {
  text-align: center;
}

main {
  width: 60%;
  margin: auto;
  text-align: center;
}

.fila {
  margin-bottom: 30px;
}

.carta {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 20%;
  background-color: white;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.sub, .mongfiera, .tratt, .nave {
  height: 80%;
  width: 80%;
  margin: auto;
  /* background-image: url(../img/noun_Submarine_3134738.png); */
  background-size: 80%;
  background-repeat: no-repeat;
  display: none;
}

.sub {
  background-image: url(../img/noun_Submarine_3134738.png);
}

.mongfiera{
  background-image: url(../img/noun_air_balloon_3134741.png);
}

.tratt {
  background-image: url(../img/noun_Tractor_3134797.png);
}

.nave{
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.nome {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: orange;
  text-shadow: 2px 2px 4px #000000;
  display: none;
}

.carta:hover .sub, .carta:hover .mongfiera, .carta:hover .tratt, .carta:hover .nave, .carta:hover .nome{
  display: block;
}

.carta:hover {
  background-image: none;
}

.girata {
  background-image: none;
}

.carta.girata div, .carta.girata .nome {
  display: block;
}

.firma {
  margin: 15px 0;
}
